@page "/"
<PageTitle>Home</PageTitle>

<p>Page under maintenance</p>
<p>Please go to 
    <a href="/auth"> this page to register or login</a>
</p>

<p>Please go to 
    <a href="/profile">para ver tu perfil una vez registrado o ingresado</a>
</p>

<p>Please go to 
    <a href="/Chats/CommunityChat">para entrar al chat de la comunidad (advertencia, al recargar la pagina se perderan todos los mensajes)</a>
</p>





@code{
}
