@page "/"  
@using AppWeb.Services  
@inject UserState UserState  
@inject CookiesService CookiesService  
@inject PostService PostService  

<PageTitle>Home</PageTitle>  

<p>Page under maintenance</p>  
<p>Please go to   
   <MudLink Href="/auth"> this page to register or login</MudLink>  
</p>  

<p>Please go to   
   <MudLink Href="/profile"> this page to see your profile once registered or logged in</MudLink>  
</p>  

<p>Please go to
    <MudLink Href="/Chats/CommunityChat"> this page to enter the community chat (warning, reloading the page will lose all messages)</MudLink>
</p>  

@code{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        UserState.CurrentUser = await CookiesService.RetrievedUser(UserState.CurrentUser);
    }
}
