@using System.ComponentModel.DataAnnotations
@using System.Text.Json
@using System.Text.Json.Serialization
@using AppWeb.Services
@using global::Services
@using Microsoft.AspNetCore.SignalR.Client
@inject CookiesService cookieService
@inject PostService postService
@inject NavigationManager Navigation

@if (CurrentUser != null)
{
    <div class="mt-5 row">
        <img class="col-2 rounded-5" src="/Doctypes/Avatars/@CurrentUser.Avatar" />
        <EditForm EditContext="editContext" class="col-9" OnValidSubmit="HandlerSend">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="col-11 d-flex flex-column">
                <h4>@CurrentUser.Name</h4>
                <div class="d-flex">
                    <InputText @bind-Value="@commentModel.CommentText" class="col-md-12"></InputText>
                    <button type="submit" class="btn btn-outline-success col-2">
                        <i class="bi bi-send"></i>
                    </button>
                </div>
            </div>
        </EditForm>
    </div>
}
else
{
    <p>Please log in to upload file</p>
}

@code {
    [Parameter]
    public DbContext.Models.Post post { get; set; }
    [Parameter]
    public DbContext.Models.User CurrentUser { get; set; }


    public EditContext editContext { get; set; }
    private CommentModel commentModel;
    private bool _isInitialized = false;
    private HubConnection hubConnection;
    private bool disposed = false; 

    protected override async Task OnInitializedAsync()
    {
        commentModel = new CommentModel();
        editContext = new EditContext(commentModel);
        try
        {
            hubConnection = new HubConnectionBuilder()
                .WithUrl(Navigation.ToAbsoluteUri("/CommentHub"))
                .ConfigureLogging(logging => logging.AddConsole())
                .Build();

            await hubConnection.StartAsync();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error initializing SignalR: {ex.Message}");
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        
    }

    private async Task HandlerSend(EditContext editContext)
    {
        var model = (CommentModel)editContext.Model;
        try
        {
            Comments comment = new Comments()
                {
                    CommentText = model.CommentText,
                    PostId = post.PostId,
                    UserId = CurrentUser.UserId
                };
            await postService.SetCommentToPost(comment);

            if (hubConnection != null && hubConnection.State == HubConnectionState.Connected)
            {
                comment.User = CurrentUser;
                comment.Files = new List<Files>();

                var options = new JsonSerializerOptions
                {
                    ReferenceHandler = ReferenceHandler.Preserve
                };
                var commentJson = JsonSerializer.Serialize(comment, options);
                await hubConnection.InvokeAsync("SendComment", post.PostId.ToString(), commentJson);
            }
            commentModel.CommentText = "";
            StateHasChanged();
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
    }

    public async ValueTask DisposeAsync()
    {
        if (hubConnection != null)
        {
            await hubConnection.DisposeAsync();
        }
        disposed = true; 
    }

    public class CommentModel
    {
        [Required]
        [MinLength(1)]
        [MaxLength(500)]
        public string CommentText { get; set; }
    }
}
